@font-face {
  font-family: 'Mantou Sans';
  src: url(./MantouSans-Regular.ttf);
  font-weight: 400;
  line-height: normal;
}

* {
  color: #343a40;
  font-family: Inter;
  font-style: normal;
  line-height: 150%; /* 48px */
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

h1 {
  font-size: 32px;
  letter-spacing: -0.8px;
}

h2 {
  font-size: 24px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 16px;
}

p {
  font-size: 16px;
  font-weight: 400;
}
@media screen and (min-width: 1400px) {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 32px;
  }
  h3 {
    font-size: 28px;
  }
  p {
    font-size: 18px;
    font-weight: 400;
  }
}
