$xs: 576px;
$md: 768px;
$xxl: 1400px;
//spacer
$spacer-8: 8px;
$spacer-12: 12px;
$spacer-16: 16px;
$spacer-24: 24px;
$spacer-32: 32px;
$spacer-36: 36px;
$spacer-40: 40px;
$spacer-48: 48px;
$spacer-64: 64px;
$spacer-96: 96px;
$spacer-192: 192px;
$spacer-1921: 1921px;
//color
$gradient: linear-gradient(90deg, #e5793b 1.54%, #ff4185 97.86%);
$primary: #da7d4a;
$text-primary-700: #334155;
$gray-500: #94a3b8;
$bg: #fdfcfb;
$bg-2: #f7ece1;
$white: #fff;
//slate
$slate-50: #f8fafc;
$slate-100: #f1f5f9;
$slate-200: #e2e8f0;
$slate-300: #cbd5e1;
$slate-400: #94a3b8;
$slate-500: #64748b;
$slate-600: #475569;
$slate-700: #334155;
$slate-800: #1e293b;
$slate-900: #0f172a;

//mixin
@mixin body() {
  font-size: 16px;
  font-weight: 400;
}
@mixin small() {
  font-size: 14px;
  font-weight: 400;
}

@mixin big() {
  font-family: Mantou Sans;
  font-size: 52px;
  font-weight: 400;
  line-height: normal;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background: $gradient;
}

@mixin black-button() {
  background-color: $slate-700;
  color: $white;
  padding: $spacer-8 $spacer-12;
  border-radius: $spacer-8;
  font-weight: 700;
  font-size: 20px;
  font-size: 16px;
}
